<div class="search-form">
  <form action="" method="POST">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Keyword</label>
      <input type="text" name="word" class="form-control" id="search-input">
    </div>
    
    <button type="submit" class="btn btn-primary">Search</button>

  </form>
</div>